Repository acald-creator/security-compliance-hub: changes, and which lefthook commands are due for each by the changed paths.
All: biome, semgrep

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Biome for formatting/linting
    biome:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: bunx @biomejs/biome check {staged_files}
    
    # Secret scanning
    gitleaks:
      run: gitleaks detect --source . --config .gitleaks.toml
    
    # Security scanning
    semgrep:
      glob: "*.{js,ts,py,go}"
      run: semgrep --config=auto {staged_files}

commit-msg:
  commands:
    # Option 1: If using bash script
    # conventional-commit:
    #  run: ./hooks/commit-msg.sh {1}
    
    # Option 2: If using commitlint
    # commitlint:
    #   run: bunx commitlint --edit {1}
    
    # Option 3: If Cocogitto is installed globally
    # cocogitto:
    #   run: cog verify {1}

pre-push:
  commands:
    # Run tests
    # test:
      # run: bun test
    
    # Check for vulnerabilities
    audit:
      run: bun audit

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/
#
# pre-push:
#   jobs:
#     - name: packages audit
#       tags:
#         - frontend
#         - security
#       run: yarn audit
#
#     - name: gems audit
#       tags:
#         - backend
#         - security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   jobs:
#     - run: yarn eslint {staged_files}
#       glob: "*.{js,ts,jsx,tsx}"
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

remove snyk
  .github/workflows/security-scan.yml
Due: none

fix job errors
  .github/workflows/security-scan.yml
Due: none

fix extra space
  .github/workflows/devsecops-infinity.yml
Due: none

fix devsecops-infinity workflows
  .github/workflows/devsecops-infinity.yml
Due: none

reduce permission level
  .github/workflows/security-scan.yml
Due: none

fix permission levels for signing
  .github/workflows/security-scan.yml
  scripts/setup-repo-security.sh
Due: none

fix errors in workflow
  .github/workflows/security-scan.yml
  examples/target-repo-template/.github/workflows/security.yml
  examples/target-repo-template/SECURITY-INSIGHTS.yml
  examples/target-repo-template/SECURITY.md
  examples/target-repo-template/config/.gitleaks.toml
  examples/target-repo-template/config/cog.toml
  examples/target-repo-template/lefthook.yml
  scripts/setup-repo-security.sh
Due: none

init biome
  biome.json
Due: biome

use bun audit directly; drop audit-ci
  bun.lock
  examples/target-repo-template/lefthook.yml
  hooks/lefthook.yml
  lefthook.yml
  package.json
Due: biome

resolve AUDIT.md findings and complete consumer setup flow
  .github/workflows/devsecops-infinity.yml
  .github/workflows/security-scan.yml
  .gitignore
  .gitleaks.toml
  AUDIT.md
  README.md
  SECURITY.md
  bun.lock
  config/.gitleaks.toml
  config/cog.toml
  hooks/lefthook.yml
  lefthook.yml
  package.json
  scripts/compliance-dashboard.ts
  scripts/install-commit-tools.sh
  scripts/setup-repo-security.sh
  scripts/setup-tools.sh
  templates/SECURITY-INSIGHTS.yml
  templates/SECURITY.md
Due: biome, semgrep

lefthook: drop empty commit-msg block
  examples/target-repo-template/lefthook.yml
  hooks/lefthook.yml
  lefthook.yml
Due: none

add CI, release, dependabot, versioning, and contributor docs
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/self-scan.yml
  .gitleaksignore
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  examples/target-repo-template/docs/THREAT_MODEL.md
  scripts/setup-repo-security.sh
  templates/THREAT_MODEL.md
Due: none

release: finalize 0.1.0 changelog
  CHANGELOG.md
Due: none

pin consumer templates to @v0 instead of @main
  CHANGELOG.md
  README.md
  examples/target-repo-template/.github/workflows/security.yml
  scripts/setup-repo-security.sh
Due: none

Make reusable workflows safe for consumers and emit a machine-readable summary.
  .github/workflows/ci.yml
  .github/workflows/devsecops-infinity.yml
  .github/workflows/security-scan.yml
  .gitignore
  AUDIT.md
  CHANGELOG.md
  README.md
  package.json
  scripts/compliance-dashboard.ts
  scripts/lib/html.test.ts
  scripts/lib/html.ts
Due: biome, semgrep

Make reusable workflows safe for consumers and emit a machine-readable summary. (#15)
  .github/workflows/ci.yml
  .github/workflows/devsecops-infinity.yml
  .github/workflows/security-scan.yml
  .gitignore
  AUDIT.md
  CHANGELOG.md
  README.md
  package.json
  scripts/compliance-dashboard.ts
  scripts/lib/html.test.ts
  scripts/lib/html.ts
Due: biome, semgrep

release: finalize 0.2.0 changelog
  CHANGELOG.md
Due: none

fix: grant pull-requests write so self-scan can call the reusable workflow
  .github/workflows/self-scan.yml
  CHANGELOG.md
  README.md
  examples/target-repo-template/.github/workflows/security.yml
Due: none

fix: drop nested SLSA generator that blocked reusable workflow startup
  .github/workflows/devsecops-infinity.yml
  .github/workflows/security-scan.yml
  CHANGELOG.md
  scripts/setup-repo-security.sh
Due: none

fix: make TruffleHog, OSV, OWASP, and Scorecard runnable on self-scan
  .github/workflows/security-scan.yml
  AUDIT.md
  CHANGELOG.md
  README.md
Due: none

fix: stop Scorecard from requesting actions:read in the reusable workflow
  .github/workflows/security-scan.yml
  CHANGELOG.md
Due: none

release: finalize 0.2.1 changelog
  AUDIT.md
  CHANGELOG.md
Due: none

fix: survive CodeQL default setup and Dependabot 403s
  .github/workflows/ci.yml
  .github/workflows/devsecops-infinity.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  CHANGELOG.md
  README.md
Due: none

fix: do not fail SAST when default CodeQL setup rejects advanced SARIF
  .github/workflows/security-scan.yml
  CHANGELOG.md
Due: none

fix: skip Cosign signing when the consumer image is unpublished
  .github/workflows/devsecops-infinity.yml
  CHANGELOG.md
  examples/target-repo-template/.github/workflows/security.yml
  examples/target-repo-template/SECURITY-INSIGHTS.yml
  examples/target-repo-template/SECURITY.md
  scripts/setup-repo-security.sh
  templates/SECURITY-INSIGHTS.yml
  templates/SECURITY.md
Due: none

fix: pass optional secrets by name instead of secrets: inherit
  .github/workflows/security-scan.yml
  .github/workflows/self-scan.yml
  CHANGELOG.md
  README.md
  examples/target-repo-template/.github/workflows/security.yml
  scripts/setup-repo-security.sh
Due: none

Document the @v0 consumer contract and current hub scope.
  README.md
Due: none

feat: add artifact provenance and pinned onboarding
  .github/workflows/security-scan.yml
  AUDIT.md
  CHANGELOG.md
  README.md
  examples/target-repo-template/.github/workflows/security.yml
  examples/target-repo-template/SECURITY.md
  scripts/setup-repo-security.sh
  templates/SECURITY.md
Due: none

feat: enforce artifact attestation and image verification
  .github/workflows/attestation-fixture.yml
  .github/workflows/devsecops-infinity.yml
  .github/workflows/security-scan.yml
  AUDIT.md
  CHANGELOG.md
  README.md
  examples/attestation-fixture/README.md
  examples/target-repo-template/.github/workflows/security.yml
  scripts/setup-repo-security.sh
Due: none

feat: enforce scanner severity policy
  .github/workflows/devsecops-infinity.yml
  .github/workflows/security-scan.yml
  AUDIT.md
  CHANGELOG.md
  README.md
Due: none

feat: report unavailable compliance evidence
  .github/workflows/security-scan.yml
  AUDIT.md
  CHANGELOG.md
  README.md
  examples/target-repo-template/.github/workflows/security.yml
  scripts/setup-repo-security.sh
Due: none

feat: add verifiable evidence metadata
  .github/workflows/security-scan.yml
  CHANGELOG.md
  README.md
Due: none

feat: distinguish dependency scan applicability
  .github/workflows/security-scan.yml
  AUDIT.md
  CHANGELOG.md
  README.md
Due: none

feat: make dashboard evidence-aware
  AUDIT.md
  CHANGELOG.md
  README.md
  scripts/compliance-dashboard.ts
Due: biome, semgrep

test: cover dashboard scoring semantics
  AUDIT.md
  CHANGELOG.md
  README.md
  scripts/compliance-dashboard.ts
  scripts/lib/compliance.test.ts
  scripts/lib/compliance.ts
Due: biome, semgrep

docs: publish security summary schema
  AUDIT.md
  CHANGELOG.md
  README.md
  schemas/security-summary-v1.schema.json
Due: biome

fix: respect selected compliance frameworks
  .github/workflows/security-scan.yml
  CHANGELOG.md
  README.md
  schemas/security-summary-v1.schema.json
Due: biome

feat: expose image verification evidence
  .github/workflows/devsecops-infinity.yml
  AUDIT.md
  CHANGELOG.md
  README.md
Due: none

feat: support custom image tags
  .github/workflows/devsecops-infinity.yml
  AUDIT.md
  CHANGELOG.md
  README.md
Due: none

chore: refresh Dependabot security tooling
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  biome.json
  bun.lock
  package.json
Due: biome
